body {
    width: 100%;
    min-width:800px;
    background-color: #dfe3eb;
    }
    .main{
        display: flex;
        justify-content: center;
    }
    .h3{
        font-family: Arial, Helvetica, sans-serif;
    }
    .content-block{
        width: 1200px;
    }
    .task-container{
        width: max-content;
        height: max-content;
        background-color: #ffffff;
        margin-top: 40px;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 20px;
    }
    .new-task-text{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(39, 38, 37);
        margin: 0px;
    }
    .input-container{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .type-of-content-block{
        display: flex;
        justify-content: center;    
    }
    /* Бэклог */
    .backlog-block{
        margin: 30px;
        width: 250px;
        padding-left: 0px;
        list-style: none;
    }
    .name-of-backlog-block{
        font-family: Arial, Helvetica, sans-serif;
        color: #86858a;
        padding-inline: 15px;
        padding-top: 8px;
        text-align: center;
        width: max-content;
        height: 30px;
        background-color: #d3d3d3;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color:#e3e3e3;
    }
    .backlog-li { 
        box-shadow: 10px 0px 0px 0px #d3d3d3 inset;
        height: 55px;
        margin-top: 10px;
        padding-left: 25px;
        background-color: #ffffff;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #626262;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 0px;
    }
    /* В процессе */
    .in-processing-block{
        margin: 0px;
        width: 250px;
        padding-left: 0px;
        list-style: none;
    }
    .name-of-processing-block{
        font-family: Arial, Helvetica, sans-serif;
        color: #8386d2;
        padding-inline: 15px;
        padding-top: 8px;
        text-align: center;
        width: max-content;
        height: 30px;
        background-color: #becdf2;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #dbe5fd;
    }
    .processing-li { 
        box-shadow: 10px 0px 0px 0px #becdf2 inset;
        height: 55px;
        margin-top: 10px;
        padding-left: 25px;
        background-color: #ffffff;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #626262;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 0px;
    }
    /* Готово */
    .done-block{
        margin: 0px;
        width: 250px;
        padding-left: 0px;
        list-style: none;
    }
    .name-of-done-block{
        font-family: Arial, Helvetica, sans-serif;
        color: #71bd5e;
        padding-inline: 15px;
        padding-top: 8px;
        text-align: center;
        width: max-content;
        height: 30px;
        background-color: #b5f3b5;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccf6cc;
    }
    .done-li {
        box-shadow: 10px 0px 0px 0px #b5f3b5 inset;
        height: 55px;
        margin-top: 10px;
        padding-left: 25px;
        background-color: #ffffff;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #626262;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 0px;
    }
    /* Корзина */
    .basket-block{
        margin: 0px;
        width: 250px;
        padding-left: 0px;
        list-style: none;
    }
    .name-of-basket-block{
        font-family: Arial, Helvetica, sans-serif;
        color: #b1696d;
        padding-inline: 15px;
        padding-top: 8px;
        text-align: center;
        width: max-content;
        height: 30px;
        background-color: #f4d9d9;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #f4d9d9;
    }
    .basket-li { 
        box-shadow: 10px 0px 0px 0px #f4d9d9 inset;
        height: 55px;
        margin-top: 10px;
        padding-left: 25px;
        background-color: #ffffff;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #626262;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 0px;
    }
    .main-header{
        display: block;
        height: 100px;
        background-color: #5d74e8
    }
    .nav-bar{
        display: flex;
        justify-content: center;
    }
    .nav-bar-content-block{
        height: 100px;
        width: 1200px;
        display: flex;
        align-items: center;
    }
    .name-nav-bar{
        font-family: Arial, Helvetica, sans-serif;
        color: #f0f3fa;
        margin: 0px;
    }
    .input-place{
        padding-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:medium;
        margin-right: 15px;
        width: 220px;
        height: 50px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color:#e3e3e3;
    }
    .button-delete{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: large;
        color: #f0f3fa ;
        height: 50px;
        margin-top: 13px;
        width: 100%;
        background-color: #b1696d;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color:#b1696d;
    }
    .button-delete:hover {
        transform: scale(110%)
    }
    .button-delete:active {
        background-color:#a40d14;
        transition: 0.1s;
    }
    .button-enter{
        width: 170px;
        height: 50px;
        border-radius: 10px;
        color: #f0f3fa ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        background-color: #5d74e8;
        border-style: solid;
        border-width: 1px;
        border-color: #5d74e8 ;
    }
    .button-enter:hover {
        transform: scale(110%)
    }
    .button-enter:active {
        background-color:#04288a;
        transition: 0.1s;
    }